.navbar-font {
  color: white;
}

.movie-list {
  /* padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px; */
  padding: 15px;
}

.poster {
  width: 160px;
  height: 232px;
}

.poster-title {
  font-size: 0.8em;
  color: blueviolet;
  font-weight: bold;
}

.poster-year {
  font-size: 0.7em;
}

.movie-detail {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(53, 52, 52);
  color: white;
}

.movie-title {
  padding-bottom: 50px;
}

.movie-info-icon {
  width: 20px;
  height: 20px;
}

footer {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.subTitle {
  padding-top: 30px;
}

.navItem {
  padding-right: 20px;
}

.youtube {
  padding-top: 50px;
}